/vs project/Win32
/src/activities/BackUpActivity/*.user

/src/activities/PlaybackActivity/*.user

/src/activities/previewactivity/*.user

/src/activities/Settingsactivity/*.user

/src/functionlibs/AudioDecoder/*.user
	
src/QTTest/QTTest.vcxproj.user

src/functionlibs/AudioDevice/AudioDevice.vcxproj.user

src/functionlibs/AudioPlayer/AudioPlayer.vcxproj.user

src/functionlibs/BubbleProtocol/BubbleProtocol.vcxproj.user

src/functionlibs/BubbleProtocolEx/BubbleProtocolEx.vcxproj.user

src/functionlibs/ConfigManager/ConfigManager.vcxproj.user

src/functionlibs/DDrawRenderObject/DDrawRenderObject.vcxproj.user

src/functionlibs/DdrawRender/DdrawRender.vcxproj.user

src/functionlibs/DeviceClient/DeviceClient.vcxproj.user

src/functionlibs/DvrSearch/DvrSearch.vcxproj.user

src/functionlibs/HiChipSearch/HiChipSearch.vcxproj.user

src/functionlibs/Hih264Decoder/Hih264Decoder.vcxproj.user

src/functionlibs/Hole/Hole.vcxproj.user

src/functionlibs/IpcDeviceClient/IpcDeviceClient.vcxproj.user

src/functionlibs/LocalPlayer/LocalPlayer.vcxproj.user

src/functionlibs/LocalPlayerEx/LocalPlayerEx.vcxproj.user

src/functionlibs/OnvifNetwork/OnvifNetwork.vcxproj.user

src/functionlibs/OnvifProtocol/OnvifProtocol.vcxproj.user

src/functionlibs/RecordDat/RecordDat.vcxproj.user

src/functionlibs/Recorder/Recorder.vcxproj.user

src/functionlibs/SDLRender/SDLRender.vcxproj.user

src/functionlibs/Turn/Turn.vcxproj.user

src/functionlibs/WinIpcSearch/WinIpcSearch.vcxproj.user

src/functionlibs/checkDatFile/checkDatFile/checkDatFile.vcxproj.user

src/functionlibs/div1/div1.vcxproj.user

src/functionlibs/div2_2/div2_2.vcxproj.user

src/functionlibs/div3_3/div3_3.vcxproj.user

src/functionlibs/div4_4/div4_4.vcxproj.user

src/functionlibs/div5_5/div5_5.vcxproj.user

src/functionlibs/div6_1/div6_1.vcxproj.user

src/functionlibs/div6_6/div6_6.vcxproj.user

src/functionlibs/div7_7/div7_7.vcxproj.user

src/functionlibs/div8_1/div8_1.vcxproj.user

src/functionlibs/div8_8/div8_8.vcxproj.user

src/functionlibs/getIpAddress/getIpAddress.vcxproj.user

src/functionlibs/h264Decoder/h264Decoder.vcxproj.user

src/functionlibs/onvifDevice/onvifDevice.vcxproj.user

src/functionlibs/onvifLibEx/onvifLibEx.vcxproj.user

src/functionlibs/userInfoAutoInputAndOutput/userInfoAutoInputAndOutput.vcxproj.user

src/functionlibs/winStorageUtinity/winStorageUtinity.vcxproj.user

src/libpcom/libpcom.vcxproj.user

src/plugins/DeviceSearchPlugin/DeviceSearchPlugin.vcxproj.user

src/plugins/LocalBackupPlugin/LocalBackupPlugin.vcxproj.user

src/plugins/PreviewWindows/PreviewWindows.vcxproj.user

src/plugins/QtQWebViewPlugin/QtQWebViewPlugin.vcxproj.user

src/plugins/RecordPlayerPlugins/RecordPlayerPlugins.vcxproj.user

src/plugins/RemoteBackupPlugin/RemoteBackupPlugin.vcxproj.user

src/plugins/RemotePlaybackPlugin/RemotePlaybackPlugin.vcxproj.user

src/plugins/ScreenShotSearchPlugin/ScreenShotSearchPlugin.vcxproj.user

src/plugins/ViewWndPlugin/ViewWndPlugin.vcxproj.user

src/plugins/autoSearchDevice/autoSearchDevice.vcxproj.user

src/plugins/commonlib/commonlib.vcxproj.user

src/plugins/onvifSetting/onvifSetting.vcxproj.user

src/plugins/userInfoPlugin/userInfoPlugin.vcxproj.user

src/server/jartsp/vs2010/rtspdemo/rtsplibpro/rtsplibpro.vcxproj.user

src/server/onvifsc/vs2010/libonvifc.vcxproj.user

vs project/HtmlUI.opensdf

/vs project/*.sdf

src/functionlibs/Qarp/Qarp.vcxproj.user

libs/AudioDecoder.dll

libs/AudioDecoder.exp

libs/AudioDecoder.ilk

libs/AudioDecoder.lib

libs/AudioDecoder.pdb

libs/AudioDevice.dll

libs/AudioDevice.exp

libs/AudioDevice.ilk

libs/AudioDevice.lib

libs/AudioDevice.pdb

libs/AudioPlayer.dll

libs/AudioPlayer.exp

libs/AudioPlayer.ilk

libs/AudioPlayer.lib

libs/AudioPlayer.pdb

libs/BubbleProtocol.dll

libs/BubbleProtocol.exp

libs/BubbleProtocol.ilk

libs/BubbleProtocol.lib

libs/BubbleProtocol.pdb

libs/BubbleProtocolEx.dll

libs/BubbleProtocolEx.exp

libs/BubbleProtocolEx.ilk

libs/BubbleProtocolEx.lib

libs/BubbleProtocolEx.pdb

libs/ConfigManager.dll

libs/ConfigManager.exp

libs/ConfigManager.ilk

libs/ConfigManager.lib

libs/ConfigManager.pdb

libs/DDrawRenderObject.dll

libs/DDrawRenderObject.exp

libs/DDrawRenderObject.lib

libs/DDrawRenderObject.pdb

libs/DdrawRender.dll

libs/DdrawRender.exp

libs/DdrawRender.ilk

libs/DdrawRender.lib

libs/DdrawRender.pdb

libs/DeviceClient.dll

libs/DeviceClient.exp

libs/DeviceClient.ilk

libs/DeviceClient.lib

libs/DeviceClient.pdb

libs/DeviceSearchPlugin.dll

libs/DeviceSearchPlugin.exp

libs/DeviceSearchPlugin.ilk

libs/DeviceSearchPlugin.lib

libs/DeviceSearchPlugin.pdb

libs/DvrSearch.dll

libs/DvrSearch.exp

libs/DvrSearch.ilk

libs/DvrSearch.lib

libs/DvrSearch.pdb

libs/HiChipSearch.dll

libs/HiChipSearch.exp

libs/HiChipSearch.ilk

libs/HiChipSearch.lib

libs/HiChipSearch.pdb

libs/Hih264Decoder.dll

libs/Hih264Decoder.exp

libs/Hih264Decoder.ilk

libs/Hih264Decoder.lib

libs/Hih264Decoder.pdb

libs/Hole.dll

libs/Hole.exp

libs/Hole.ilk

libs/Hole.lib

libs/Hole.pdb

libs/IpcDeviceClient.dll

libs/IpcDeviceClient.exp

libs/IpcDeviceClient.ilk

libs/IpcDeviceClient.lib

libs/IpcDeviceClient.pdb

libs/LocalBackupPlugin.dll

libs/LocalBackupPlugin.exp

libs/LocalBackupPlugin.ilk

libs/LocalBackupPlugin.lib

libs/LocalBackupPlugin.pdb

libs/LocalPlayer.dll

libs/LocalPlayer.exp

libs/LocalPlayer.ilk

libs/LocalPlayer.lib

libs/LocalPlayer.pdb

libs/LocalPlayerEx.dll

libs/LocalPlayerEx.exp

libs/LocalPlayerEx.ilk

libs/LocalPlayerEx.lib

libs/LocalPlayerEx.pdb

libs/OnvifNetwork.dll

libs/OnvifNetwork.exp

libs/OnvifNetwork.ilk

libs/OnvifNetwork.lib

libs/OnvifNetwork.pdb
libs/OnvifProtocol.dll

libs/OnvifProtocol.exp

libs/OnvifProtocol.ilk

libs/OnvifProtocol.lib

libs/OnvifProtocol.pdb

libs/PreviewWindows.dll

libs/PreviewWindows.exp

libs/PreviewWindows.ilk

libs/PreviewWindows.lib

libs/PreviewWindows.pdb

libs/Qarp.lib

libs/QtQWebViewPlugin.dll

libs/QtQWebViewPlugin.exp

libs/QtQWebViewPlugin.ilk

libs/QtQWebViewPlugin.lib

libs/QtQWebViewPlugin.pdb

libs/RecordPlayerPlugins.dll

libs/RecordPlayerPlugins.exp

libs/RecordPlayerPlugins.ilk

libs/RecordPlayerPlugins.lib

libs/RecordPlayerPlugins.pdb

libs/Recorder.dll

libs/Recorder.exp

libs/Recorder.ilk

libs/Recorder.lib

libs/Recorder.pdb

libs/RemoteBackupPlugin.dll

libs/RemoteBackupPlugin.exp

libs/RemoteBackupPlugin.ilk

libs/RemoteBackupPlugin.lib

libs/RemoteBackupPlugin.pdb

libs/RemotePlaybackPlugin.dll

libs/RemotePlaybackPlugin.exp

libs/RemotePlaybackPlugin.ilk

libs/RemotePlaybackPlugin.lib

libs/RemotePlaybackPlugin.pdb

libs/SDLRender.dll

libs/SDLRender.exp

libs/SDLRender.ilk

libs/SDLRender.lib

libs/SDLRender.pdb

libs/ScreenShotSearchPlugin.dll

libs/ScreenShotSearchPlugin.exp

libs/ScreenShotSearchPlugin.ilk

libs/ScreenShotSearchPlugin.lib

libs/ScreenShotSearchPlugin.pdb

libs/Settingsactivity.dll

libs/Settingsactivity.exp

libs/Settingsactivity.ilk

libs/Settingsactivity.lib

libs/Settingsactivity.pdb

libs/Turn.dll

libs/Turn.exp

libs/Turn.ilk

libs/Turn.lib

libs/Turn.pdb

libs/ViewWndPlugin.dll

libs/ViewWndPlugin.exp

libs/ViewWndPlugin.ilk

libs/ViewWndPlugin.lib

libs/ViewWndPlugin.pdb

libs/autoSearchDevice.dll

libs/autoSearchDevice.exp

libs/autoSearchDevice.ilk

libs/autoSearchDevice.lib

libs/autoSearchDevice.pdb

libs/commonlib.dll

libs/commonlib.exp

libs/commonlib.ilk

libs/commonlib.lib

libs/commonlib.pdb
/libs
/output/Release/userInfoAutoInputAndOutput.pdb
/output/Release/OnvifNetwork.dll
/output/Release/OnvifProtocol.dll
/output/Release/WinIpcSearch.dll
/output/Release/libonvifc.dll
/output/Release/pdb
/output/Release/QTTest.exe
/output/Release/QTTest.pdb
/output/Release/previewactivity.dll
/output/Release/Settingsactivity.dll
/output/Release/Hih264Decoder.dll
/output/Release/userInfoAutoInputAndOutput.exe
/output/Release/userInfoAutoInputAndOutput.ilk
/output/Release/div6_6.dll
/output/Release/onvifLibEx.lib
/output/Release/rtsplibpro.dll
/output/Release/ConfigManager.dll
/output/Release/getIpAddress.dll
/output/Release/RecordDat.dll
/output/Release/LocalPlayerEx.dll
/output/Release/onvifDevice.dll
/output/Release/AudioDevice.dll
/output/Release/BubbleProtocol.dll
/output/Release/Recorder.dll
/output/Release/LocalPlayer.dll
/output/Release/winStorageUtinity.dll
/output/Release/BubbleProtocolEx.dll
/output/Release/IpcDeviceClient.dll
/output/Release/Hole.dll
/output/Release/div1.dll
/output/Release/Turn.dll
/output/Release/AudioPlayer.dll
/output/Release/DdrawRender.dll
/output/Release/div5_5.dll
/output/Release/h264Decoder.dll
/output/Release/HiChipSearch.dll
/output/Release/SDLRender.dll
/output/Release/div7_7.dll
/output/Release/libpcom.dll
/output/Release/DeviceClient.dll
/output/Release/div4_4.dll
/output/Release/div8_1.dll
/output/Release/div2_2.dll
/output/Release/div6_1.dll
/output/Release/DvrSearch.dll
/output/Release/div3_3.dll
/output/Release/div8_8.dll
/output/Release/DDrawRenderObject.dll
/output/Release/Qarp.lib
/output/Release/AudioDecoder.dll
/output/Release/commonlibEx.dll
/output/Release/plugins
/output/Release/plugins
/output/Release/AudioPlayer.dll
/output/Release/BubbleProtocol.dll
/output/Release/Recorder.dll
/output/Release/LocalPlayer.dll
/output/Release/winStorageUtinity.dll
/output/Release/BubbleProtocolEx.dll
/output/Release/IpcDeviceClient.dll
/output/Release/Hole.dll
/output/Release/AudioDevice.dll
/output/Release/Turn.dll
/output/Release/LocalSetting/.qm
/src/activities/BackUpActivity/GeneratedFiles
/src/activities/BackUpActivity/Release
/src/activities/PlaybackActivity/Release
/src/activities/PlaybackActivity/GeneratedFiles
/src/activities/previewactivity/GeneratedFiles
/src/activities/Settingsactivity/GeneratedFiles
/src/functionlibs/BubbleProtocol/GeneratedFiles
/src/functionlibs/BubbleProtocolEx/GeneratedFiles
/src/functionlibs/checkDatFile/checkDatFile/Release
/src/functionlibs/checkDatFile/checkDatFile/GeneratedFiles
/src/functionlibs/commonlibEx/Release
/src/functionlibs/ConfigManager/GeneratedFiles
/src/functionlibs/DeviceClient/GeneratedFiles
/src/functionlibs/HiChipSearch/GeneratedFiles
/src/functionlibs/IpcDeviceClient/Release
/src/functionlibs/IpcDeviceClient/GeneratedFiles
/src/functionlibs/LocalPlayer/GeneratedFiles
/src/functionlibs/LocalPlayerEx/GeneratedFiles
/src/functionlibs/onvifDevice/GeneratedFiles
/src/functionlibs/OnvifNetwork/GeneratedFiles
/src/functionlibs/OnvifProtocol/GeneratedFiles
/src/functionlibs/RecordDat/Release
/src/functionlibs/RecordDat/GeneratedFiles
/src/functionlibs/Recorder/GeneratedFiles
/src/functionlibs/WinIpcSearch/Release
/src/plugins/autoSearchDevice/GeneratedFiles
/src/plugins/commonlib/GeneratedFiles
/src/plugins/DeviceSearchPlugin/release
/src/plugins/DeviceSearchPlugin/debug
/src/plugins/DeviceSearchPlugin/GeneratedFiles
/src/plugins/LocalBackupPlugin/GeneratedFiles
/src/plugins/onvifSetting/GeneratedFiles
/src/plugins/PreviewWindows/GeneratedFiles
/src/plugins/QtQWebViewPlugin/Release
/src/plugins/QtQWebViewPlugin/GeneratedFiles
/src/plugins/RecordPlayerPlugins/GeneratedFiles
/src/plugins/RemoteBackupPlugin/GeneratedFiles
/src/plugins/RemotePlaybackPlugin/GeneratedFiles
/src/plugins/ScreenShotSearchPlugin/GeneratedFiles
/src/plugins/userInfoPlugin/GeneratedFiles
/src/plugins/ViewWndPlugin/GeneratedFiles
/src/QTTest/release
/src/QTTest/GeneratedFiles
/libs/DisksInfo.lib
/src/functionlibs/Qarp/*.user
/src/functionlibs/commonlibEx/*.user
